<div
  data-om-user-notification-fragment
  data-om-unread-count="{{ view.unread_count }}"
>
  {% for item in view.items %}
    <a
      href="{{ view.center_url }}/{{ item.id }}/open"
      data-om-user-notification-preview
      data-om-user-notification-id="{{ item.id }}"
      class="om-notification-item"
    >
      {% if item.icon %}
        <span class="om-notification-icon om-notification-icon-{{ item.tone }}">
          <i class="{{ item.icon }}" aria-hidden="true"></i>
        </span>
      {% endif %}
      <div class="min-w-0 flex-1">
        <div class="om-notification-title">{{ item.title }}</div>
        {% if item.body %}<div class="om-notification-body">{{ item.body }}</div>{% endif %}
        <time class="om-notification-time" datetime="{{ item.created_at.isoformat() }}">{{ item.created_at }}</time>
      </div>
    </a>
  {% endfor %}
</div>
